.logo{height:80px}
body{margin:0;font-family:Arial;background:white;color:#003}
.hero{height:60vh;display:flex;flex-direction:column;justify-content:center;align-items:center;background:url('texture-wide.png');background-size:cover;color:white;text-shadow:0 0 10px #000}
